body, html{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    position: relative;
    
    /*Courtesy: https://uigradients.com/#IbizaSunset*/
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    margin: auto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #eee;
}

.container.hide {
    display: none;
}

.slogan{
    font-weight: 100;
    font-size: 25px;
}

.mt{
    margin-top: 30px;
}

.helper{
    font-weight: 100;
    font-size: 13px;
}

.js{
    font-weight: 100;
    font-size: 15px;
    margin-top: 10px;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    word-break: break-all;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    color: #eee;
    padding: 20px;
    box-sizing: border-box;
}

.foot-note{
    margin: auto;
    text-align: center;
}

a{
    text-decoration: none;
    color: #eee;
}

button {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7px 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #eee;
    font-family: 'Varela Round', sans-serif;
    outline: none;
}

@media (max-width:768px){
    .container{
        font-size: 30px;
    }
    .slogan{
        font-size: 15px;
    }
    .js{
        font-size: 12px;
    }
}